<h1 class="text-center"><%= @restaurant.name %></h1>
<p>Addresse : <%= @restaurant.address %></p>
<p>Téléphone : <%= @restaurant.phone_number %></p>
<p>Type : <%= @restaurant.category %></p>

<div class="contenu">
  <% @restaurant.reviews.each do |review| %>
    <div class="card-review">
      <% review.rating.times do %>
        <i class='fa fa-star' aria-hidden='true'></i>
      <% end %>
      <% (5 - review.rating).times do %>
        <i class='fa fa-star-o' aria-hidden='true'></i>
      <% end %>
      &nbsp;&nbsp;&nbsp;<%= review.content %>
      <%= link_to restaurant_review_path(@restaurant, review), method: :delete do %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
</div>

<div class="wrapper">
  <%= render 'reviews/form' %>
</div>

<% content_for(:title) do %>
  <%= @restaurant.name %>
<% end %>
