<h1 class="text-center"><%= @restaurant.name %></h1>
<p>Addresse : <%= @restaurant.address %></p>
<p>Téléphone : <%= @restaurant.phone_number %></p>
<p>Type : <%= @restaurant.category %></p>

<div class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
    <% review.rating.times do %>
      <i class='fa fa-star' aria-hidden='true'></i>
    <% end %>
    <% (5 - review.rating).times do %>
      <i class='fa fa-star-o' aria-hidden='true'></i>
    <% end %>
    &nbsp;&nbsp;&nbsp;<%= review.content %>
    </li>
  <% end %>
</div>

<div class="wrapper">
  <%= render 'reviews/form' %>
</div>

<% content_for(:title) do %>
  <%= @restaurant.name %>
<% end %>
