<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> - <%= "*" * review.rating %></li>
  <% end %>
</ul>

<%= link_to "Ecrire un commentaire", new_restaurant_review_path(@restaurant) %>
<%= link_to "Menu", restaurants_path %>
